body {
    background-image: url('./images/HD-wallpaper-black-3d-squares-geometric-patterns-squares-backgrounds-3d-squares-white-abstract-background-3d-squares-textures-squares-textures-background-with-squares.jpg');
    background-size: 40%;
    font-size:smaller;
}

#solucion{
    color: aqua;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#error {
    background-color: rgb(255, 38, 0);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#container{
    background-image: url('./images/background-texture-dark-square-wallpaper-preview.jpg');
    width: 75%;
    margin: 80px auto;
    border-radius: 80px;
    padding: 15px;
    box-shadow: 10px 10px 15px;
    color: #0bd300;
    font-size: 25px;    
}

#container form {
    font-weight: bold;
    color: rgb(255, 0, 0);
    margin: 20px;
    text-align: center;
    margin-top: 55px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

#container h1 {
    margin: 30px;
    color: rgba(9, 175, 84, 0.85);
    text-align: center;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
}

#container button {
    margin: 30px;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.marco2 {
    text-align: center;
    padding: 7px;
    margin: 20px auto;
    border-radius: 80px;
    background-color: #000000;
    color: aliceblue;

}